[Unit]
Description=Ulfius server for TimeMachine
After=network.target
Before=nginx.service

[Service]
User=timemachine
Group=www-data
WorkingDirectory=/home/timemachine/
ExecStart=timemachineapi
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
