[Unit]
Description=Chromium Kiosk Patch
Wants=graphical.target
After=graphical.target

[Service]
User=timemachine
Group=www-data
Environment=XAUTHORITY=/home/pi/.Xauthority
Type=simple
ExecStart=unclutter -idle 0.5 -root
Restart=on-abort


[Install]
WantedBy=graphical.target