[Unit]
Description=Chromium Kiosk
Wants=graphical.target
After=graphical.target nginx.service

[Service]
User=pi
Group=www-data
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/pi/.Xauthority
Type=simple
ExecStartPre=/bin/bash /home/timemachine/.kiosk.sh
ExecStart=/usr/bin/chromium-browser --noerrdialogs --disable-infobars --kiosk http://localhost/
Restart=on-failure
RestartSec=3s


[Install]
WantedBy=graphical.target